* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Outfit", sans-serif;
}

body {
	background-color: hsl(217, 54%, 11%);
	min-height: 100vh;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

/* CARD */

.card {
	background-color: hsl(216, 50%, 16%);
	max-width: 350px;
	padding: 20px;
	border-radius: 20px;
}